* {
    margin: 0 0;
    padding: 0 0;
}
body {
    margin: 0 0;
    padding: 0 0;
    background: #013f53;
}
section {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    border: 1px solid white;
    border-top: none;
}
.title {
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 1rem 0 0 0;
    color: #207794;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 7px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.2);
}
.input_box {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
    margin: 1rem auto 0 auto;
    padding: 0 0 1.5rem 0;
    border-right: 1px solid white;
    border-left: 1px solid white;

    .text_explain {
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 1.5rem 0 0 0;
        color: rgb(181, 181, 181);
        font-size: 1rem;
        letter-spacing: 1px;
        text-align: center;
        border-top: 1px solid white;
    }

    .name_input,
    .age_input,
    .time_input,
    .submit_btn {
        min-width: 70%;
        max-width: 70%;
        margin: .5rem auto;
        padding: .2rem 0;
        color: black;
        font-size: 1rem;
        text-align: center;
        background: rgba(255, 255, 255, 0.582);
        border: 1px solid #207794;
        border-radius: .3rem;
        outline: none;

        &::placeholder {
            color: rgb(12, 86, 86);
            opacity: .8;
        }
    }
    .submit_btn {
        padding: .4rem 0;
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        background: rgb(74,143,12);
        background: linear-gradient(180deg, rgba(74,143,12,1) 0%, 
        rgba(69,133,11,1) 10%, rgba(62,120,10,1) 25%, 
        rgba(58,111,10,1) 40%, rgba(58,111,10,1) 60%,
        rgba(62,120,10,1) 75%, rgba(69,133,11,1) 90%, 
        rgba(74,143,12,1) 100%);
        border: 1px solid #0a4713;
    }
}
.output_box {
    width: 70%;
    max-width: 70%;
    height: 2rem;
    margin: 0 auto 2rem auto;
    padding: .5rem 0;
    background: #207794;
    border: 1px solid rgb(255, 255, 255);
    border-bottom-right-radius: .4rem;
    border-bottom-left-radius: .4rem;

    .text_output {
        padding: .2rem 0 0 0;
        color: #082e0d;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
    }
}